Localization
{
	ru
	{
		#LOC_OPX-SSM_Sun_Name = Кербол^M
		#LOC_OPX-SSM_Sun_Biome_NPZ = северная полярная зона^f
		#LOC_OPX-SSM_Sun_Biome_NSpZ = северная субполярная зона^f
		#LOC_OPX-SSM_Sun_Biome_NTeZ = северная умеренная зона^f
		#LOC_OPX-SSM_Sun_Biome_NTrZ = северная тропическая зона^f
		#LOC_OPX-SSM_Sun_Biome_EqZ = экваториальная зона^f
		#LOC_OPX-SSM_Sun_Biome_STrZ = южная тропическая зона^f
		#LOC_OPX-SSM_Sun_Biome_STeZ = южная умеренная зона^f
		#LOC_OPX-SSM_Sun_Biome_SSpZ = южная субполярная зона^f
		#LOC_OPX-SSM_Sun_Biome_SPZ = южная полярная зона^f
	}
}
